---
import Layout from '../layout/Layout.astro';
import Text from '../components/Text';
import Verification from '../components/Verification';
import Logs from '../components/Logs';
import Lockdown from '../components/Lockdown';
import Passport from '../components/Passport';
import JoinGate from '../components/JoinGate';
import Ready from '../components/Ready';
---

<Layout title='Dashboard'>
	<Text client:load>Dashboard</Text>
	<div class='mt-20'>
		<Verification client:load />
		<Logs client:visible />
		<Lockdown client:visible />
		<JoinGate client:visible />
		<Passport client:visible />
		<Ready client:visible />
	</div>
</Layout>
