---
import Verification from '../components/Verification';
import Logs from '../components/Logs';
import Lockdown from '../components/Lockdown';
import JoinGate from '../components/JoinGate';
import Passport from '../components/Passport';
import Ready from '../components/Ready';
import Layout from '../layout/Layout.astro';
import Text from '../components/Text';
---

<Layout title='Dashboard'>
	<Text client:load/>
	<div class='mt-20'>
		<Verification client:load />
		<Logs client:visible />
		<Lockdown client:visible />
		<JoinGate client:visible />
		<Passport client:visible />
		<Ready client:visible />
	</div>
	<footer class='text-center font-thin font-unisans mb-10 text-sm text-gray-400'>
		<p>© 2023 Pyrite. All rights reserved.</p>
	</footer>
</Layout>
