---
import Layout from '../layout/Layout.astro';
import Verification from '../components/Verification.svelte';
import Logs from '../components/Logs.svelte';
import Lockdown from '../components/Lockdown.svelte';
import Passport from '../components/Passport.svelte';
import Ready from '../components/Ready.svelte';
import Text from '../components/Text.svelte';
---

<Layout title='Dashboard'>
	<Text client:load>
		<span>Know your members.</span>
		<span>Know your community.</span>
	</Text>
	<div class='mt-20'>
		<Verification client:load />
		<Logs client:load />
		<Lockdown client:load />
		<Passport client:load />
		<Ready client:load />
	</div>
</Layout>
