---
import Layout from '../layout/Layout.astro';
import Verification from '../components/Verification.svelte';
import Logs from '../components/Logs.svelte';
import Lockdown from '../components/Lockdown.svelte';
import Passport from '../components/Passport.svelte';
import Ready from '../components/Ready.svelte';
import Text from '../components/Text.svelte';
---

<Layout title='Home'>
	<div class='grid gap-32'>
		<Text client:load>
			<span>
				Know your <span id='slogan' class='gradient'></span>
				<span class='cursor'>|</span>.
			</span>
		</Text>
		<div class='flex justify-center'>
			<p class='w-4/5 md:w-3/5 text-sm md:text-base leading-7 md:leading-9 text-slate-300'>
				Pyrite is a security discord bot, that helps you mantain a safe environment in your server, with it's verification, lockdown, danger features,
				and many more features to have a safe <span class='gradient'>community</span>, and protect your <span class='gradient'>members</span>.
			</p>
		</div>
		<div class='flex justify-center'>
			<button id='down'>
				<svg xmlns='http://www.w3.org/2000/svg' fill='#5865f2' class='w-12 h-12 md:w-20 md:h-20' viewBox='0 0 24 24'>
					<path d='M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z'></path>
				</svg>
			</button>
		</div>
		<ul class='grid gap-96 mx-10 md:mx-20'>
			<li>
				<Verification client:load />
			</li>
			<li>
				<Logs client:load />
			</li>
			<li>
				<Lockdown client:load />
			</li>
			<li>
				<Passport client:load />
			</li>
			<li>
				<Ready client:load />
			</li>
		</ul>
	</div>
</Layout>

<script>
	const speed = 200;

	let i = 0;
	let txt = 'members';

	function removeWriter(t: string) {
		if (i !== document.querySelector('#slogan')!.innerHTML.length) {
			document.querySelector('#slogan')!.innerHTML = document
				.querySelector('#slogan')!
				.innerHTML.slice(0, document.querySelector('#slogan')!.innerHTML.length - 1);
			setTimeout(() => removeWriter(t), speed - 150);
		} else {
			txt = t;
			setTimeout(typeWriter, speed);
		}
	}

	function typeWriter() {
		if (i < txt.length) {
			document.querySelector('#slogan')!.innerHTML += txt.charAt(i);
			i++;
			setTimeout(typeWriter, speed);
		} else if (txt === 'members') {
			i = 0;
			removeWriter('community');
		} else if (txt === 'community') {
			i = 0;
			removeWriter('members');
		}
	}

	typeWriter();
</script>

<script>
	const button = document.querySelector<HTMLButtonElement>('#down');

	button?.addEventListener('click', () => {
		window.scrollTo(0, 700);
	});
</script>

<style>
	.cursor {
		animation: blink 1s linear infinite;
		color: #fff;
	}

	@keyframes blink {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}
</style>
