---
import Verification from '../components/Verification';
import Logs from '../components/Logs';
import Lockdown from '../components/Lockdown';
import JoinGate from '../components/JoinGate';
import Passport from '../components/Passport';
import Ready from '../components/Ready';
import Layout from '../layout/Layout.astro';
---

<Layout title='Introduction'>
	<div class='md:mt-80 mt-56 grid place-items-center'>
		<h1 class='grid ml-14 font-unisans gap-8 text-6xl font-[1000] text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 to-indigo-900'>
			<span>Know your members.</span>
			<span>Know your community.</span>
		</h1>
	</div>
	<div class='mt-20'>
		<Verification client:load />
		<Logs client:visible />
		<Lockdown client:visible />
		<JoinGate client:visible />
		<Passport client:visible />
		<Ready client:visible />
	</div>
	<footer class='text-center font-thin font-unisans mb-10 text-sm text-gray-400'>
		<p>© 2022 Pyrite. All rights reserved.</p>
	</footer>
</Layout>
