---
import pyrite from '../assets/pyrite.svg';
import Link from './Link.astro';
---

<nav class='flex items-center justify-between p-10'>
	<a href='/'>
		<img src={pyrite} alt='pyrite icon' width={60} height={60} />
	</a>
	<ul class='flex gap-3'>
		<li>
			<Link to='https://discord.gg/NxJzWWqhdQ'>Support Server</Link>
		</li>
		<li>
			<Link to='https://top.gg/bot/1008400801628164096'>Vote</Link>
		</li>
		<li>
			<Link to='https://discord.com/oauth2/authorize?client_id=1008400801628164096&permissions=8&scope=bot%20applications.commands' bg>
				Invite Me
			</Link>
		</li>
	</ul>
</nav>
